  .item {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #afafaf;
    cursor: pointer;
    margin: 2px;
  }

  .mine {
    line-height: 44px;
    font-size: 30px;
    background-color: #fafafa;
    color: red;
  }

  .num {
    font-weight: 700;
    background-color: #fafafa;
    color: orange;
  }